body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #4c164c;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}
#reviewForm {
    background-color: #ebe4eb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
}
h1 {
    margin: 0;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
select, input[type="date"], input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.rating label {
    margin-right: 10px;
}
.rating input {
    margin-right: 5px;
}
.form-group div {
    margin-bottom: 5px;
}
input[type="submit"] {
    background-color: #4c164c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #3a123a;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #333;
}
